@import "rsuite/dist/rsuite.css";

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.home-image {
  width: 1900px;
  height: 550px;
  opacity: 50%;
  object-fit: cover;
  /* border-color: rgba(255, 255, 255, 0.52);
  border-width: 15px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px; */
}
.home-image1 {
  top: -28%;
  left: 34%;
  width: 648px;
  height: 651px;
  position: absolute;
  object-fit: cover;
}
.home-button {
  top: 466px;
  left: 950px;
  position: absolute;
  background-color: #fff700;
}
.home-navlink {
  top: 466px;
  left: 828px;
  position: absolute;
  text-decoration: none;
  background-color: #fff700;
}
.home-textinput {
  top: 18%;
  left: 40%;
  width: 479px;
  position: absolute;
}
.home-video {
  /* top: 598px;
  left: 800px; */
  margin: 20px 20px 0px 0px;
  width: 384px;
  height: 230px;
  /* position: absolute; */
}
.home-button1 {
  top: 840px;
  left: 920px;
  position: absolute;
  background-color: #fff700;
}
.grid-container {
  display:grid;
  gap: 50px 50px;
  grid-template-columns: auto auto auto;
  background-color: #000000; 
  padding: 10px;
  color:#14de98;
}




.grid-desc{
  background-color: rgb(255, 251, 0);
  color:black;
  font-size: 30px;
  text-align: center;
}



.grid-item{
  counter-increment: --in;
  background-color: rgb(63, 117, 10);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  width:100%;
  height:100%;
  transition: 5s;
  
 
}

img{
  
  width:300px;
  height:250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.grid-item:hover{
  
  background-color: rgb(233, 12, 12);
  transform: translate(calc(100px *var(--in)), 200px);
  z-index:1;
  font-size: 30px;
}






.noselect {

  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

}

.App {  
  max-width: 40rem;  
  margin: 2rem auto;  
}  

:root {
--in:1;
  --main-color: rgb(235, 73, 8);
  --main-color-hover: rgb(104, 117, 217, 0.2);
  --track-color: #ddd;
}


.custom-slider {
  margin-top: 18px;
}
.custom-slider .rs-slider-handle {
  top: -6px;
  background-color: #000000;
  text-align: center;
  padding: 1px;
  margin-left: -16px;
  
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.custom-slider .rs-slider-handle:hover {
  box-shadow: 0 0 0 8px #d5f001;
}
.custom-slider .rs-slider-handle::before {
  display: none;
}
.custom-slider.rs-slider-dragging .rs-slider-handle, .custom-slider.rs-slider-dragging .rs-slider-handle:hover {
  box-shadow: none;
  transform: scale(1.2);
}


.content {
  margin-top: 40px;
  height: 300px;
  position: relative;
}

.background {
  display: flex;
  height: 100%;
}

.left {
  background: black;
  width: 30%;
  position: relative;
}

.left:before {
  content: '';
  position: absolute;
  background-image: linear-gradient(to right,#000,transparent);
  top: 0;
  bottom: 0;
  left: 100%;
  width: 275px;
}

.right {
  background: green;
  width: 70%;
}

.content-container {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px
}

.show-details-button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 300ms ease 100ms;
  background: transparent;
  border: 0;
  outline: none;
  width: 100%;
}
.show-details-button span {
  display: block;
  width: 14px;
  margin: 0 auto;
  color: white;
}

